<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gemini_309_g">
  <xacro:property name="mesh_path" value="package://orbbec_camera/meshes/gemini309_g/" />
  <link
    name="camera_link" />
  <joint
    name="camera_link"
    type="fixed">
    <origin
      xyz="0.008050000000002 0.009003950979152 0.0209939609855101"
      rpy="0 0 0" />
    <parent
      link="camera_bottom_screw" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_left_color_optical_frame" />
  <joint
    name="camera_left_color_optical_frame"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="camera_left_color_frame" />
    <child
      link="camera_left_color_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_right_color_optical_frame" />
  <joint
    name="camera_right_color_optical_frame"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.5707963267949 0 -1.5707963267949" />
    <parent
      link="camera_right_color_frame" />
    <child
      link="camera_right_color_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_bottom_screw">
    <inertial>
      <origin
        xyz="0.000175737970584729 -0.00394983412061421 -0.0206345858068119"
        rpy="0 0 0" />
      <mass
        value="0.0249222072968717" />
      <inertia
        ixx="5.00403811957311E-06"
        ixy="-7.2306914084516E-10"
        ixz="2.22927661310567E-08"
        iyy="8.89433351709202E-06"
        iyz="-2.67333736513775E-09"
        izz="4.83457340761002E-06" />
    </inertial>
    <visual>
      <origin
        xyz="-0.0234099999999966 0 0.0209939609855071"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}FAKRA.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.0234099999999966 0 0.0209939609855071"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}FAKRA.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="camera_right_color_frame">
    <inertial>
      <origin
        xyz="-1.17602281696563E-06 -0.0034693462830589 0.000376234001467319"
        rpy="0 0 0" />
      <mass
        value="0.000735468334566907" />
      <inertia
        ixx="7.92202560415908E-09"
        ixy="-1.95146774676002E-12"
        ixz="-9.33532490494195E-12"
        iyy="9.93176003014812E-09"
        iyz="-6.12381828511392E-12"
        izz="8.02751620920214E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}RGB_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.0470588235294118 0.874509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}RGB_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_right_color_frame"
    type="fixed">
    <origin
      xyz="0 -0.018 0"
      rpy="0 0 0" />
    <parent
      link="camera_left_color_frame" />
    <child
      link="camera_right_color_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_left_color_frame">
    <inertial>
      <origin
        xyz="-1.17602281780871E-06 -0.00346934628305838 0.000376234001468585"
        rpy="0 0 0" />
      <mass
        value="0.000735468334566978" />
      <inertia
        ixx="7.92202562203234E-09"
        ixy="-1.95146773316204E-12"
        ixz="-9.33532489896924E-12"
        iyy="9.93175999833481E-09"
        iyz="-6.12381825718048E-12"
        izz="8.0275161952487E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}RGB_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.0470588235294118 0.874509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="3.141592653589793 0 1.570796326794897" />
      <geometry>
        <mesh
          filename="${mesh_path}RGB_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_left_color_frame"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_link" />
    <child
      link="camera_left_color_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
