<launch>
    <arg name="camera" default="camera" />
    <arg name="device_name" default="" />
    <arg name="sn" default="" />
    <arg name="vid" default="11205" />
    <arg name="pid" default="1590" />

    <node pkg="tf" type="static_transform_publisher" name="orbbec_depth_frame" args="0 0 0 0 0 0 /map /orbbec_depth_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="orbbec_color_frame" args="0 0 0 0 0 0 /map /orbbec_color_frame 100" />

    <group ns="$(arg camera)">
        <node pkg="orbbec_camera" type="orbbec_camera_node" name="ob_camera">
            <param name="device_name" type="string" value="$(arg device_name)" />
            <param name="sn" type="string" value="$(arg sn)" />
            <param name="vid" type="int" value="$(arg vid)" />
            <param name="pid" type="int" value="$(arg pid)" />
        </node>
        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
        <node pkg="nodelet" type="nodelet" name="point_cloud_xyz"
            args="load depth_image_proc/point_cloud_xyz nodelet_manager">
            <remap from="image_rect" to="depth/image_raw"/>
            <remap from="camera_info" to="depth/camera_info"/>
        </node>
        <node pkg="nodelet" type="nodelet" name="register"
            args="load depth_image_proc/register nodelet_manager">
            <remap from="rgb/camera_info" to="color/camera_info"/>
            <remap from="depth/image_rect" to="depth/image_raw"/>
            <remap from="depth/camera_info" to="depth/camera_info"/>
        </node>
        <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
            args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
            <remap from="rgb/camera_info" to="color/camera_info" />
            <remap from="rgb/image_rect_color" to="color/image_raw" />
        </node>
    </group>
</launch>