<launch>
    <!-- unique camera name-->
    <arg name="camera_name" default="camera"/>
    <arg name="timestamp_clock_type" default=""/><!-- "realtime" or "monotonic", default is realtime. -->
    <arg name="enable_color_undistortion" default="false"/>
    <arg name="enable_depth_undistortion" default="false"/>
    <arg name="enable_ir_undistortion" default="false"/>
    <arg name="enable_frame_drop_log" default="false"/>
    <arg name="frame_timestamp_csv_file" default=""/>
    <!-- Hardware depth registration -->
    <arg name="depth_registration" default="false"/>
    <arg name="serial_number" default=""/>
    <arg name="usb_port" default=""/>
    <arg name="device_num" default="1"/>
    <arg name="bag_record_filename" default=""/>
    <arg name="bag_filename" default=""/>
    <arg name="bag_loop" default="false"/>
    <arg name="vendor_id" default="0x2bc5"/>
    <arg name="product_id" default=""/>
    <arg name="enable_point_cloud" default="true"/>
    <arg name="enable_colored_point_cloud" default="false"/>
    <arg name="connection_delay" default="100"/>
    <arg name="color_width" default="640"/>
    <arg name="color_height" default="480"/>
    <arg name="color_fps" default="25"/>
    <arg name="enable_color" default="true"/>
    <arg name="color_format" default="MJPG"/>
    <arg name="flip_color" default="false"/>
    <arg name="enable_color_auto_exposure" default="true"/>
    <arg name="depth_width" default="640"/>
    <arg name="depth_height" default="400"/>
    <arg name="depth_fps" default="10"/>
    <arg name="enable_depth" default="true"/>
    <arg name="depth_format" default="Y12"/>
    <arg name="flip_depth" default="false"/>
    <arg name="ir_width" default="640"/>
    <arg name="ir_height" default="400"/>
    <arg name="ir_fps" default="10"/>
    <arg name="enable_ir" default="true"/>
    <arg name="ir_format" default="Y10"/>
    <arg name="flip_ir" default="false"/>
    <arg name="enable_ir_auto_exposure" default="true"/>
    <arg name="enable_ir_long_exposure" default="false"/>
    <arg name="publish_tf" default="true"/>
    <arg name="tf_publish_rate" default="0.0"/>
    <arg name="ir_info_uri" default=""/>
    <arg name="color_info_uri" default=""/>
    <arg name="log_level" default="none"/>
    <arg name="log_file_name" default=""/>
    <arg name="enable_d2c_viewer" default="false"/>
    <arg name="enable_image_transport_plugins" default="true"/>
    <arg name="enable_pipeline" default="true"/>
    <arg name="enable_soft_filter" default="true"/>
    <arg name="enable_noise_removal_filter" default="true"/>
    <arg name="noise_removal_filter_min_diff" default="256"/>
    <arg name="noise_removal_filter_max_size" default="80"/>
    <arg name="enable_mgc_noise_removal_filter" default="false"/>
    <arg name="enable_lut_noise_removal_filter" default="false"/>
    <arg name="enable_disp_outliers_filter" default="false"/>
    <arg name="disp_outliers_filter_search_mode" default="-1"/><!-- -1: SDK default; otherwise follows OB_PROP_DEPTH_OUTLIERS_FILTER_SEARCH_MODE_INT -->
    <arg name="enable_edge_noise_removal_filter" default="false"/>
    <arg name="enable_spatial_fast_filter" default="false"/>
    <arg name="spatial_fast_filter_radius" default="-1"/>
    <arg name="enable_spatial_moderate_filter" default="false"/>
    <arg name="spatial_moderate_filter_diff_threshold" default="-1"/>
    <arg name="spatial_moderate_filter_magnitude" default="-1"/>
    <arg name="spatial_moderate_filter_radius" default="-1"/>
    <arg name="enable_spatial_filter" default="false"/>
    <arg name="spatial_filter_alpha" default="-1.0"/>
    <arg name="spatial_filter_diff_threshold" default="-1"/>
    <arg name="spatial_filter_magnitude" default="-1"/>
    <arg name="spatial_filter_radius" default="-1"/>
    <arg name="enable_temporal_filter" default="false"/>
    <arg name="temporal_filter_diff_threshold" default="-1.0"/>
    <arg name="temporal_filter_weight" default="-1.0"/>
    <arg name="enable_hole_filling_filter" default="false"/>
    <arg name="hole_filling_filter_mode" default=""/>
    <arg name="enable_threshold_filter" default="true"/>
    <arg name="threshold_filter_max" default="-1"/>
    <arg name="threshold_filter_min" default="-1"/>
    <!-- Configure the path for depth filter file, for example: /config/depthfilter/Openni_device.json -->
    <arg name="depth_filter_config" default=""/>
    <arg name="laser_energy_level" default="-1"/>
    <arg name="enable_ldp" default="true"/>
    <group ns="$(arg camera_name)">
        <node name="camera" pkg="orbbec_camera" type="orbbec_camera_node" output="screen">
            <param name="camera_name" value="$(arg camera_name)"/>
            <param name="bag_record_filename" value="$(arg bag_record_filename)"/>
            <param name="bag_filename" value="$(arg bag_filename)"/>
            <param name="bag_loop" value="$(arg bag_loop)"/>
            <param name="timestamp_clock_type" value="$(arg timestamp_clock_type)"/>
            <param name="enable_color_undistortion" value="$(arg enable_color_undistortion)"/>
            <param name="enable_depth_undistortion" value="$(arg enable_depth_undistortion)"/>
            <param name="enable_ir_undistortion" value="$(arg enable_ir_undistortion)"/>
            <param name="enable_frame_drop_log" value="$(arg enable_frame_drop_log)"/>
            <param name="frame_timestamp_csv_file" value="$(arg frame_timestamp_csv_file)"/>
            <param name="depth_registration" value="$(arg depth_registration)"/>
            <param name="serial_number" type="string" value="$(arg serial_number)"/>
            <param name="usb_port" type="string" value="$(arg usb_port)"/>
            <param name="vendor_id" value="$(arg vendor_id)"/>
            <param name="product_id" value="$(arg product_id)"/>
            <param name="enable_point_cloud" value="$(arg enable_point_cloud)"/>
            <param name="enable_colored_point_cloud" value="$(arg enable_colored_point_cloud)"/>
            <param name="connection_delay" value="$(arg connection_delay)"/>
            <param name="color_width" value="$(arg color_width)"/>
            <param name="color_height" value="$(arg color_height)"/>
            <param name="color_fps" value="$(arg color_fps)"/>
            <param name="enable_color" value="$(arg enable_color)"/>
            <param name="color_format" value="$(arg color_format)"/>
            <param name="flip_color" value="$(arg flip_color)"/>
            <param name="enable_color_auto_exposure" value="$(arg enable_color_auto_exposure)"/>
            <param name="depth_width" value="$(arg depth_width)"/>
            <param name="depth_height" value="$(arg depth_height)"/>
            <param name="depth_fps" value="$(arg depth_fps)"/>
            <param name="enable_depth" value="$(arg enable_depth)"/>
            <param name="depth_format" value="$(arg depth_format)"/>
            <param name="flip_depth" value="$(arg flip_depth)"/>
            <param name="ir_width" value="$(arg ir_width)"/>
            <param name="ir_height" value="$(arg ir_height)"/>
            <param name="ir_fps" value="$(arg ir_fps)"/>
            <param name="enable_ir" value="$(arg enable_ir)"/>
            <param name="ir_format" value="$(arg ir_format)"/>
            <param name="flip_ir" value="$(arg flip_ir)"/>
            <param name="enable_ir_auto_exposure" value="$(arg enable_ir_auto_exposure)"/>
            <param name="enable_ir_long_exposure" value="$(arg enable_ir_long_exposure)"/>
            <param name="publish_tf" value="$(arg publish_tf)"/>
            <param name="tf_publish_rate" value="$(arg tf_publish_rate)"/>
            <param name="ir_info_uri" value="$(arg ir_info_uri)"/>
            <param name="color_info_uri" value="$(arg color_info_uri)"/>
            <param name="log_level" value="$(arg log_level)"/>
            <param name="log_file_name" value="$(arg log_file_name)"/>
            <param name="enable_d2c_viewer" value="$(arg enable_d2c_viewer)"/>
            <param name="enable_image_transport_plugins" value="$(arg enable_image_transport_plugins)"/>
            <param name="enable_pipeline" value="$(arg enable_pipeline)"/>
            <param name="device_num" value="$(arg device_num)"/>
            <param name="enable_soft_filter" value="$(arg enable_soft_filter)"/>
            <param name="enable_noise_removal_filter" value="$(arg enable_noise_removal_filter)"/>
            <param name="noise_removal_filter_min_diff" value="$(arg noise_removal_filter_min_diff)"/>
            <param name="noise_removal_filter_max_size" value="$(arg noise_removal_filter_max_size)"/>
            <param name="enable_mgc_noise_removal_filter" value="$(arg enable_mgc_noise_removal_filter)"/>
            <param name="enable_lut_noise_removal_filter" value="$(arg enable_lut_noise_removal_filter)"/>
            <param name="enable_disp_outliers_filter" value="$(arg enable_disp_outliers_filter)"/>
            <param name="disp_outliers_filter_search_mode" value="$(arg disp_outliers_filter_search_mode)"/>
            <param name="enable_edge_noise_removal_filter" value="$(arg enable_edge_noise_removal_filter)"/>
            <param name="enable_spatial_fast_filter" value="$(arg enable_spatial_fast_filter)"/>
            <param name="spatial_fast_filter_radius" value="$(arg spatial_fast_filter_radius)"/>
            <param name="enable_spatial_moderate_filter" value="$(arg enable_spatial_moderate_filter)"/>
            <param name="spatial_moderate_filter_diff_threshold" value="$(arg spatial_moderate_filter_diff_threshold)"/>
            <param name="spatial_moderate_filter_magnitude" value="$(arg spatial_moderate_filter_magnitude)"/>
            <param name="spatial_moderate_filter_radius" value="$(arg spatial_moderate_filter_radius)"/>
            <param name="enable_spatial_filter" value="$(arg enable_spatial_filter)"/>
            <param name="spatial_filter_alpha" value="$(arg spatial_filter_alpha)"/>
            <param name="spatial_filter_diff_threshold" value="$(arg spatial_filter_diff_threshold)"/>
            <param name="spatial_filter_magnitude" value="$(arg spatial_filter_magnitude)"/>
            <param name="spatial_filter_radius" value="$(arg spatial_filter_radius)"/>
            <param name="enable_temporal_filter" value="$(arg enable_temporal_filter)"/>
            <param name="temporal_filter_diff_threshold" value="$(arg temporal_filter_diff_threshold)"/>
            <param name="temporal_filter_weight" value="$(arg temporal_filter_weight)"/>
            <param name="enable_hole_filling_filter" value="$(arg enable_hole_filling_filter)"/>
            <param name="hole_filling_filter_mode" value="$(arg hole_filling_filter_mode)"/>
            <param name="enable_threshold_filter" value="$(arg enable_threshold_filter)"/>
            <param name="threshold_filter_max" value="$(arg threshold_filter_max)"/>
            <param name="threshold_filter_min" value="$(arg threshold_filter_min)"/>
            <param name="depth_filter_config" value="$(arg depth_filter_config)"/>
            <param name="laser_energy_level" value="$(arg laser_energy_level)"/>
            <param name="enable_ldp" value="$(arg enable_ldp)"/>
            <remap from="/$(arg camera_name)/depth/color/points"
                   to="/$(arg camera_name)/depth_registered/points"/>
        </node>
    </group>
</launch>
