<?xml version="1.0"?>
<launch>
    <!-- Basic camera parameters -->
    <arg name="camera_name" default="camera"/>
    <!-- open device delay time 100m-->
    <arg name="connection_delay" default="100"/>
    <arg name="log_level" default="debug"/>
    <arg name="publish_tf" default="true"/>
    <arg name="tf_publish_rate" default="10.0"/>
    <arg name="enable_frame_sync" default="true"/>
    <arg name="use_hardware_time" default="true"/>
    <!-- Custom,Default,Hand, High Density, High Accuracy,Medium Density.-->
    <arg name="device_preset" default="Default"/>

    <!-- Color camera parameters -->
    <arg name="color_width" default="1280"/>
    <arg name="color_height" default="720"/>
    <arg name="color_fps" default="15"/>
    <arg name="enable_color" default="true"/>
    <arg name="color_format" default="YUYV"/>
    <arg name="enable_color_auto_exposure" default="true"/>

    <!-- Depth camera parameters -->
    <arg name="depth_width" default="1280"/>
    <arg name="depth_height" default="720"/>
    <arg name="depth_fps" default="15"/>
    <arg name="enable_depth" default="true"/>
    <arg name="depth_format" default="Y16"/>
    <arg name="depth_registration" default="true"/>

    <!-- Left IR camera parameters -->
    <arg name="left_ir_width" default="1280"/>
    <arg name="left_ir_height" default="720"/>
    <arg name="left_ir_fps" default="15"/>
    <arg name="enable_left_ir" default="false"/>
    <arg name="left_ir_format" default="Y8"/>

    <!-- Right IR camera parameters -->
    <arg name="right_ir_width" default="1280"/>
    <arg name="right_ir_height" default="720"/>
    <arg name="right_ir_fps" default="15"/>
    <arg name="enable_right_ir" default="false"/>
    <arg name="right_ir_format" default="Y8"/>

    <!-- Common IR camera parameters -->
    <arg name="enable_ir_auto_exposure" default="true"/>

    <!-- Point cloud parameters -->
    <arg name="enable_point_cloud" default="true"/>
    <arg name="enable_colored_point_cloud" default="true"/>
    <arg name="ordered_pc" default="false"/>

    <!-- filter switch -->
    <arg name="enable_decimation_filter" default="false"/>
    <arg name="enable_hdr_merge" default="false"/>
    <arg name="enable_sequenced_filter" default="false"/>
    <arg name="enable_threshold_filter" default="false"/>
    <arg name="enable_noise_removal_filter" default="true"/>
    <arg name="enable_spatial_filter" default="false"/>
    <arg name="enable_temporal_filter" default="false"/>
    <arg name="enable_hole_filling_filter" default="false"/>

    <group ns="$(arg camera_name)">
        <node name="camera" pkg="orbbec_camera" type="orbbec_camera_node" output="screen">
            <!-- Use the parameters defined above -->
            <param name="camera_name" value="$(arg camera_name)"/>
            <param name="connection_delay" value="$(arg connection_delay)"/>
            <param name="log_level" value="$(arg log_level)"/>
            <param name="publish_tf" value="$(arg publish_tf)"/>
            <param name="tf_publish_rate" value="$(arg tf_publish_rate)"/>
            <param name="enable_frame_sync" value="$(arg enable_frame_sync)"/>
            <param name="use_hardware_time" value="$(arg use_hardware_time)"/>
            <param name="device_preset" value="$(arg device_preset)"/>

            <param name="color_width" value="$(arg color_width)"/>
            <param name="color_height" value="$(arg color_height)"/>
            <param name="color_fps" value="$(arg color_fps)"/>
            <param name="enable_color" value="$(arg enable_color)"/>
            <param name="color_format" value="$(arg color_format)"/>
            <param name="enable_color_auto_exposure" value="$(arg enable_color_auto_exposure)"/>

            <param name="depth_width" value="$(arg depth_width)"/>
            <param name="depth_height" value="$(arg depth_height)"/>
            <param name="depth_fps" value="$(arg depth_fps)"/>
            <param name="enable_depth" value="$(arg enable_depth)"/>
            <param name="depth_format" value="$(arg depth_format)"/>
            <param name="depth_registration" value="$(arg depth_registration)"/>

            <param name="left_ir_width" value="$(arg left_ir_width)"/>
            <param name="left_ir_height" value="$(arg left_ir_height)"/>
            <param name="left_ir_fps" value="$(arg left_ir_fps)"/>
            <param name="enable_left_ir" value="$(arg enable_left_ir)"/>
            <param name="left_ir_format" value="$(arg left_ir_format)"/>

            <param name="right_ir_width" value="$(arg right_ir_width)"/>
            <param name="right_ir_height" value="$(arg right_ir_height)"/>
            <param name="right_ir_fps" value="$(arg right_ir_fps)"/>
            <param name="enable_right_ir" value="$(arg enable_right_ir)"/>
            <param name="right_ir_format" value="$(arg right_ir_format)"/>

            <param name="enable_ir_auto_exposure" value="$(arg enable_ir_auto_exposure)"/>

            <param name="enable_point_cloud" value="$(arg enable_point_cloud)"/>
            <param name="enable_colored_point_cloud" value="$(arg enable_colored_point_cloud)"/>
            <param name="ordered_pc" value="$(arg ordered_pc)"/>

            <param name="enable_decimation_filter" value="$(arg enable_decimation_filter)"/>
            <param name="enable_hdr_merge" value="$(arg enable_hdr_merge)"/>
            <param name="enable_sequenced_filter" value="$(arg enable_sequenced_filter)"/>
            <param name="enable_threshold_filter" value="$(arg enable_threshold_filter)"/>
            <param name="enable_noise_removal_filter" value="$(arg enable_noise_removal_filter)"/>
            <param name="enable_spatial_filter" value="$(arg enable_spatial_filter)"/>
            <param name="enable_temporal_filter" value="$(arg enable_temporal_filter)"/>
            <param name="enable_hole_filling_filter" value="$(arg enable_hole_filling_filter)"/>

            <!-- Remap the depth registered point cloud topic -->
            <remap from="/$(arg camera_name)/depth/color/points" to="/$(arg camera_name)/depth_registered/points"/>
        </node>
    </group>
</launch>
