<?xml version="1.0"?>
<launch>
    <arg name="device_type" default="camera"/>

    <!-- Basic camera parameters -->
    <arg name="camera_name" default="camera"/>
    <arg name="connection_delay" default="100"/>
    <arg name="log_level" default="none"/>
    <arg name="log_file_name" default=""/>
    <arg name="publish_tf" default="true"/>
    <arg name="tf_publish_rate" default="0.0"/>
    <arg name="time_domain" default="global"/><!-- "device", "global", "system" -->
    <arg name="timestamp_clock_type" default=""/><!-- "realtime" or "monotonic", default is realtime. -->
    <arg name="enable_frame_drop_log" default="false"/>
    <arg name="frame_timestamp_csv_file" default=""/>
    <arg name="uvc_backend" default="libuvc"/><!-- "libuvc" or "v4l2" -->
    <arg name="enable_sync_host_time" default="false"/>
    <arg name="diagnostics_frequency" default="1.0"/>

    <!-- SDK JSON preset import/export -->
    <arg name="config_file_path" default=""/>
    <arg name="load_config_json_file_path" default=""/>
    <arg name="export_config_json_file_path" default=""/>

    <!-- Device discovery and management -->
    <arg name="enumerate_net_device" default="true"/>
    <arg name="device_access_mode" default="default"/><!-- default, EA, CA or MR -->
    <arg name="ip_address" default=""/>
    <arg name="port" default="0"/>
    <arg name="upgrade_firmware" default=""/>
    <arg name="preset_firmware_path" default=""/>
    <arg name="usb_port" default=""/>
    <arg name="serial_number" default=""/>
    <arg name="device_num" default="1"/>
    <arg name="enable_hardware_reset" default="false"/>

    <!-- Force IP parameters -->
    <arg name="force_ip_enable" default="false"/>
    <arg name="force_ip_mac" default=""/>
    <arg name="force_ip_address" default="192.168.1.10"/>
    <arg name="force_ip_subnet_mask" default="255.255.255.0"/>
    <arg name="force_ip_gateway" default="192.168.1.1"/>

    <!-- Camera info -->
    <arg name="ir_info_uri" default=""/>
    <arg name="color_info_uri" default=""/>

    <!-- Point cloud parameters -->
    <arg name="ordered_pc" default="false"/>

    <!-- IMU parameters -->
    <arg name="enable_sync_output_accel_gyro" default="false"/>
    <arg name="enable_accel_data_correction" default="true"/>
    <arg name="enable_gyro_data_correction" default="true"/>
    <arg name="linear_accel_cov" default="0.01"/>

    <!-- ROS pipeline parameters -->
    <arg name="enable_d2c_viewer" default="false"/>

    <group ns="$(arg camera_name)">
        <node name="camera" pkg="orbbec_camera" type="orbbec_camera_node" output="screen">
            <param name="device_type" value="$(arg device_type)"/>
            <param name="camera_name" value="$(arg camera_name)"/>
            <param name="connection_delay" value="$(arg connection_delay)"/>
            <param name="log_level" value="$(arg log_level)"/>
            <param name="log_file_name" value="$(arg log_file_name)"/>
            <param name="publish_tf" value="$(arg publish_tf)"/>
            <param name="tf_publish_rate" value="$(arg tf_publish_rate)"/>
            <param name="time_domain" value="$(arg time_domain)"/>
            <param name="timestamp_clock_type" value="$(arg timestamp_clock_type)"/>
            <param name="enable_frame_drop_log" value="$(arg enable_frame_drop_log)"/>
            <param name="frame_timestamp_csv_file" value="$(arg frame_timestamp_csv_file)"/>
            <param name="uvc_backend" value="$(arg uvc_backend)"/>
            <param name="enable_sync_host_time" value="$(arg enable_sync_host_time)"/>
            <param name="diagnostics_frequency" value="$(arg diagnostics_frequency)"/>
            <param name="config_file_path" value="$(arg config_file_path)"/>
            <param name="load_config_json_file_path" value="$(arg load_config_json_file_path)"/>
            <param name="export_config_json_file_path" value="$(arg export_config_json_file_path)"/>

            <param name="enumerate_net_device" value="$(arg enumerate_net_device)"/>
            <param name="device_access_mode" value="$(arg device_access_mode)"/>
            <param name="ip_address" value="$(arg ip_address)"/>
            <param name="port" value="$(arg port)"/>
            <param name="upgrade_firmware" value="$(arg upgrade_firmware)"/>
            <param name="preset_firmware_path" value="$(arg preset_firmware_path)"/>
            <param name="usb_port" value="$(arg usb_port)"/>
            <param name="serial_number" value="$(arg serial_number)"/>
            <param name="device_num" value="$(arg device_num)"/>
            <param name="enable_hardware_reset" value="$(arg enable_hardware_reset)"/>

            <param name="force_ip_enable" value="$(arg force_ip_enable)"/>
            <param name="force_ip_mac" value="$(arg force_ip_mac)"/>
            <param name="force_ip_address" value="$(arg force_ip_address)"/>
            <param name="force_ip_subnet_mask" value="$(arg force_ip_subnet_mask)"/>
            <param name="force_ip_gateway" value="$(arg force_ip_gateway)"/>

            <param name="ir_info_uri" value="$(arg ir_info_uri)"/>
            <param name="color_info_uri" value="$(arg color_info_uri)"/>

            <param name="ordered_pc" value="$(arg ordered_pc)"/>

            <param name="enable_sync_output_accel_gyro" value="$(arg enable_sync_output_accel_gyro)"/>
            <param name="enable_accel_data_correction" value="$(arg enable_accel_data_correction)"/>
            <param name="enable_gyro_data_correction" value="$(arg enable_gyro_data_correction)"/>
            <param name="linear_accel_cov" value="$(arg linear_accel_cov)"/>

            <param name="enable_d2c_viewer" value="$(arg enable_d2c_viewer)"/>

            <remap from="/$(arg camera_name)/depth/color/points" to="/$(arg camera_name)/depth_registered/points"/>
        </node>
    </group>
    <!-- Load config yaml file -->
    <group if="$(eval config_file_path != '')">
        <rosparam ns="$(arg camera_name)/$(arg camera_name)" file="$(arg config_file_path)" command="load" />
    </group>
</launch>
