<launch>
    <arg name="camera1" default="camera1" />
    <arg name="device_name1" default="" />
    <arg name="sn1" default="BY286160031" />
    <arg name="vid1" default="0" />
    <arg name="pid1" default="0" />

    <arg name="camera2" default="camera2" />
    <arg name="device_name2" default="" />
    <arg name="sn2" default="BY286160033" />
    <arg name="vid2" default="0" />
    <arg name="pid2" default="0" />

    <node pkg="orbbec_camera" type="device_list_node" name="ob_device_list" respawn="true" output="screen" />

    <include file="$(find orbbec_camera)/launch/include/orbbec.launch">
        <arg name="camera" value="$(arg camera1)" />
        <arg name="device_name" value="$(arg device_name1)" />
        <arg name="sn" value="$(arg sn1)" />
        <arg name="vid" value="$(arg vid1)" />
        <arg name="pid" value="$(arg pid1)" />
    </include>

    <include file="$(find orbbec_camera)/launch/include/orbbec.launch">
        <arg name="camera" value="$(arg camera2)" />
        <arg name="device_name" value="$(arg device_name2)" />
        <arg name="sn" value="$(arg sn2)" />
        <arg name="vid" value="$(arg vid2)" />
        <arg name="pid" value="$(arg pid2)" />
    </include>
</launch>